* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

form{
    padding: 24px 0;
    text-align: center;
    vertical-align: center;
    position: absolute;
    top: 37%;
    right: 0;
    left: 0;
}

form h1{
    margin-bottom: 32px;
}

input,
button{
    padding: 8px;
    min-height: 60px;
    font-size: 30px;
}

button{
    background-color: white;
    cursor: pointer;
    font-weight: bold;
    color: black;
}

ul {
    position: relative;
    align-content: center;
    /*list-style: disc inside;*/
    font-size: 23px;
}

li {
    position: relative;
    align-content: center;
    padding-top: 23px;
    list-style-position:inside;
    list-style-image: none;
    list-style-type: disc;
    cursor: pointer;
}